{{ if .IsNamedParams }}
  <div class="{{ if .Get "class" }}{{ .Get "class" }}{{ else }}pixelfed-container{{ end }}">
<iframe src="https://pixelfed.social/p/{{ .Get "id" }}/embed?caption=true&likes=false&layout=full" class="pixelfed__embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen">
</iframe>
<script async defer src="https://pixelfed.social/embed.js">
</script>
  </div>
{{ else }}
  <div class="{{ if len .Params | eq 2 }}{{ .Get 1 }}{{ else }}vimeo-container{{ end }}">
<iframe src="https://pixelfed.social/p/{{ .Get 0 }}/embed?caption=true&likes=false&layout=full" class="pixelfed__embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen">
</iframe>
<script async defer src="https://pixelfed.social/embed.js">
</script>
  </div>
{{ end }}
